* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}

form {
    text-align: center;
    line-height: 30px;
    background-image: linear-gradient(#fa7203, #ffffff, #27b803);
    margin: auto;
    width: 100vw;
    padding: 0.5px;
    margin-top: 1%;
    border-radius: 50px;
}

.flex {
    display: flex;
    align-items: center;
}

h4 {
    color: black;
    font-size: 28px;
}

div .form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 10px 0;
}

.recaptcha-container {
    justify-content: center;
}

input {
    text-align: center;
    border-radius: 15px;
    border-color: rgb(2, 2, 2);
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 25px;
    margin: 15px 0px;
    width: 40%;
    padding: 2px 5px;
}

textarea {
    width: 50%;
    min-height: 6rem;
    resize: vertical;
    padding: 0.5rem 0 0 0.5rem;
}

select {
    text-align: center;
    border-radius: 15px;
    border-color: rgb(2, 2, 2);
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 25px;
    padding: 2px 5px;
    margin: 15px 0px;
    width: 40%;
}

p {
    font-size: 1rem;
}

#radio-btn,
#check-box {
    margin-right: 0.1rem;
    min-height: 1.2rem;
    min-width: 1.2rem;
}

textarea {
    text-align: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(2, 2, 2);
    font-size: 17px;
    line-height: 25px;
    padding: 2px 5px;
    margin: 15px 0px;
    padding: 5px;
    width: 50%;
}

button {
    background-color: #b312f3;
    border: none;
    padding: 5px;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    color: #f1c40f;
    width: 15%;
    font-size: 20px;
}

button:hover {
    background-color: rgb(224, 9, 9);
}

.footnote {
    color: rgb(0, 0, 0);
    font-size: 20px;
}